
<ion-content>
  <div class="text-center mb-5">
    <img src="assets/shapes.svg" alt="Image" height="50" class="mb-3">
    <ion-button (click)="back()" expand="block" fill="outline" shape="round">
      Back
    </ion-button>
  </div>

  <div class="w-full">
    <form [formGroup]="adressForm">
        <app-address-form formControlName="address"></app-address-form>
    </form>
    <ion-button (click)="updateCustomerAddress()" expand="block" fill="solid">
      {{ 'Finish Registration' | translate }}
    </ion-button>
  </div>
</ion-content>