<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="text-center mb-5">
    <img src="assets/shapes.svg" alt="Image" height="50" class="mb-3">
    <!-- <div class="text-900 text-3xl font-medium mb-3">Register to start</div>
    <span class="text-600 font-medium line-height-3">Already have an account?</span>
    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="back()">
      {{ 'Login instead' | translate }}...
    </a> -->
  </div>

  <form [formGroup]="userForm" ngxsForm="forms.userForm">
    <app-user-form formControlName="user"></app-user-form>
  </form>

  <ion-button (click)="register()" expand="block" fill="solid">
    Register user
  </ion-button>

</ion-content>