<div [formGroup]="userForm">
  <label for="first_name">
    {{ 'First Name' | translate }}
  </label>
  <input formControlName="first_name" id="first_name" type="text" placeholder="First Name" pInputText
    class="w-full mb-2">
  <p-message severity="error" [text]="'First name is required' | translate"
    *ngIf="!userForm.get('first_name')?.valid && userForm.get('first_name')?.dirty"></p-message>

  <label for="last_name">
    {{ 'Last Name' | translate }}
  </label>
  <input formControlName="last_name" id="last_name" type="text" placeholder="{{ 'Last Name Placeholder' | translate }}"
    pInputText class="w-full mb-2">
  <p-message severity="error" [text]="'Last name is required'"
    *ngIf="!userForm.get('last_name')?.valid && userForm.get('last_name')?.dirty"></p-message>

  <label for="input-email">
    {{ 'email' | translate }}
  </label>
  <input formControlName="email" id="input-email" type="text" placeholder="{{ 'Last Name Placeholder' | translate }}"
    pInputText class="w-full mb-2" pattern=".+@.+\..+">
  <p-message severity="error" [text]="'Last is required' | translate"
    *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.dirty">
  </p-message>

  <label for="input-phone">
    {{ 'Telephone Number' | translate }}
  </label>
  <input formControlName="phone" id="input-phone" type="phone" placeholder="{{ 'Phone Placeholder' | translate }}"
    pInputText class="w-full mb-2">
  <p-message severity="error" [text]="'Phone number is required' | translate"
    *ngIf="!userForm.get('phone')?.valid && userForm.get('phone')?.dirty"></p-message>

  <label for="password">
    {{ 'auth.register.form.input.password.label' | translate }}
  </label>
  <p-password id="password" formControlName="password"
    placeholder="{{ 'auth.register.form.input.password.placeholder' | translate }}" [toggleMask]="false"
    styleClass="mb-2" inputStyleClass="w-full p-3"></p-password>
  <p-message severity="error"
    [text]="userForm.get('password').errors['required'] ? 'Password is required' : userForm.get('password')?.errors['minlength'] ? 'Must be longer than 6 characters' : ''"
    *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.dirty"></p-message>

  <label for="input-password-confirmation">
    {{ 'auth.register.form.input.repeat_password.label' | translate }}
  </label>
  <p-password id="input-password-confirmation" formControlName="passwordConfirmation"
    placeholder="{{ 'auth.register.form.input.repeat_password.placeholder' | translate }}" [toggleMask]="false"
    styleClass="mb-2" inputStyleClass="w-full p-3"></p-password>
  <p-message severity="error"
    [text]="userForm.get('passwordConfirmation')?.errors['required'] ? 'passwordConfirmation is required' : userForm.get('passwordConfirmation').errors['minlength'] ? 'Must be longer than 6 characters' : ''"
    *ngIf="!userForm.get('passwordConfirmation')?.valid && userForm.get('passwordConfirmation')?.dirty"></p-message>

</div>