<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="start()">
        Start
      </ion-button>
    </ion-buttons>
    <ion-title>Cart Review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addresses()">
        <ion-icon slot="start" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="viewState$ | async as vs">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content *ngFor="let item of vs?.cart?.items">
            <ion-item class="ion-text-center">
              <ion-label>{{ item.title }}</ion-label>
              <ion-icon size="small" color="danger" slot="end" name="close" (click)="delete(item)">
              </ion-icon>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img [src]="item.thumbnail" />
              </ion-thumbnail>
              <ion-text>
                {{ item.unit_price | currency:'GBP'}}
              </ion-text>
              <ion-note slot="end">
                {{ item.variant.title }}
              </ion-note>
            </ion-item>
            <ion-item>
              <div class="counter-wrapper">
                <ion-button class="counter-icon" color="primary" (click)="decrementSelectItem(item)">
                  <ion-icon name="remove" slot="icon-only" role="img" aria-label="remove">
                  </ion-icon>
                </ion-button>
                <span class="counter-value ion-text-center">
                  <ion-input [value]="item.quantity" readonly="true" type="text"></ion-input>
                </span>
                <ion-button class="counter-icon" color="secondary" (click)="incrementSelectItem(item)">
                  <ion-icon name="add" slot="icon-only" role="img" aria-label="add"></ion-icon>
                </ion-button>
              </div>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        sub total: {{ vs.cart?.subtotal | currency:'GBP'}}
      </ion-col>
      <ion-col size="12">
        tax: {{ vs.cart?.tax_total | currency:'GBP'}}
      </ion-col>
      <ion-col size="12">
        cart total: {{ vs.cart?.total | currency:'GBP'}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Saved Items</ion-card-subtitle>
            <ion-icon name="heart"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="'assets/shapes.svg'" />
              </ion-avatar>
              <ion-label>T-Shirt Large</ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="addresses()" expand="block" fill="clear" shape="round">
      Proceed ->
    </ion-button>
  </ion-toolbar>
</ion-footer>