<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/home'">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Medusa Customer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewState$ | async as vs">
    <ion-grid>
        <ion-row>
            <h1>Medusa Customer Profile</h1>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-list-header>
                        <ion-label>User Information</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-row>
                            <ion-col size="12">
                                <ion-label>
                                    Id: {{ vs.customer?.id }}
                                </ion-label>
                            </ion-col>
                            <ion-col size="12">
                                <ion-label>
                                    Email: {{ vs.customer?.email }}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-item>

                    <ion-list-header>
                        <ion-label> Orders </ion-label>
                    </ion-list-header>

                    <ion-item *ngFor="let order of vs.session?.orders">
                        <ion-button (click)="openOrderDetails(order.id)" expand="block" fill="clear" shape="round">
                            {{ order.id }}
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>