<div [formGroup]="form">
  <ion-label for="first-name">First Name</ion-label>
  <ion-input formControlName="firstName" id="first-name" ></ion-input>

  <ion-label for="last-name">Last Name</ion-label>
  <ion-input formControlName="lastName" id="last-name" ></ion-input>

  <ion-label for="email">Email</ion-label>
  <ion-input formControlName="email" type="email" id="email" ></ion-input>
  
  <ion-label for="phone">Phone</ion-label>
  <ion-input formControlName="phone" type="phone" id="phone" ></ion-input>
  
  <div *ngIf="emailControl.touched && emailControl.hasError('required')" class="error">
    email is required
  </div>

</div>