<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="addressForm" ngxsForm="forms.addressForm">

    <label for="first_name">
      {{ 'First Name' | translate }}
    </label>
    <input formControlName="first_name" id="first_name" type="text" placeholder="First Name" pInputText
      class="w-full mb-2">
    <p-message severity="error" [text]="'First name is required' | translate"
      *ngIf="!addressForm.get('first_name')?.valid && addressForm.get('first_name')?.dirty"></p-message>

    <label for="last_name">
      {{ 'Last Name' | translate }}
    </label>
    <input formControlName="last_name" id="last_name" type="text"
      placeholder="{{ 'Last Name Placeholder' | translate }}" pInputText class="w-full mb-2">
    <p-message severity="error" [text]="'Last name is required'"
      *ngIf="!addressForm.get('last_name')?.valid && addressForm.get('last_name')?.dirty"></p-message>

    <app-address-form #form formControlName="address"></app-address-form>

  </form>

</ion-content>