<div [formGroup]="form">

  <ion-label for="password">Password</ion-label>
  <ion-input formControlName="password" type="password" id="password"></ion-input>
  <div *ngIf="passwordControl.touched && passwordControl.hasError('required')" class="error">
    password is required
  </div>

  <ion-label for="confirm-password">Confirm Password</ion-label>
  <ion-input formControlName="confirmPassword" type="password" id="confirm-password"></ion-input>

  <div *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')" class="error">
    password is required
  </div>

  <div *ngIf="passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')" class="error">
    passwords do not match
  </div>

</div>