<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">

        <div class="text-center mb-5">
          <img src="assets/shapes.svg" alt="Image" height="50" class="mb-3">
          <ion-button (click)="register()" expand="block" fill="outline" shape="round">
            Register
          </ion-button>
        </div>

        <form [formGroup]="signupForm">
          <app-login-form #form formControlName="login"></app-login-form>
        </form>

        <ion-button (click)="login()" expand="block" fill="solid">
          Login
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>