<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/home'">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'Products List' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewState$ | async as vs">
  <p-dataView #dv [value]="vs.productList" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="list">
    <ng-template pTemplate="header">
      <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
        (onChange)="onSortChange($event)" styleClass="">
      </p-dropdown>
      <ion-searchbar pInputText type="search" [debounce]="250" (input)="dv.filter($event.target.value)"></ion-searchbar> -->
      <ion-toolbar class="ion-text-center">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </ion-toolbar>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <ion-col size="6">
        <ion-card>
          <ion-img [src]="product.thumbnail" [alt]="product.title"></ion-img>
          <ion-card-header>
            <div class="product-name">{{product.title}}</div>
            <div class="product-description">{{product.description | truncate: 70 }}</div>
          </ion-card-header>
          <ion-card-content>
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Price list</ion-label>
                </ion-item>
                <ion-item class="ion-padding price-list-content" slot="content" *ngFor="let variant of product?.variants">
                  <ion-text>{{ variant?.title }}</ion-text>
                  <section *ngFor="let price of variant.prices">
                    <div class="amount">{{ price.amount }}</div>
                    <div class="currency-code">{{ price.currency_code }}</div>
                  </section>
                </ion-item>
              </ion-accordion>
            </ion-accordion-group>
            <ion-row class="action-buttons">
              <ion-col size="8">
                <ion-button expand="block" fill="solid" shape="round">
                  Add to cart
                </ion-button>
              </ion-col>
              <ion-col size="4" class="search">
                <ion-buttons>
                  <ion-button fill="clear" shape="round">
                    View 
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="product-grid-item card" (click)="navigateToProductDetails(product)">

        <div class="product-grid-item-top">
          <div>
            <i class="pi pi-tag product-category-icon"></i>
            <!-- <span class="product-category">{{product.category}}</span> -->
          </div>
          <!-- <span [class]="''">{{product.inventoryStatus}}</span> -->
        </div>

        <div class="product-grid-item-content">
          <img [src]="product.thumbnail" [alt]="product.title" />
          <div class="product-name">{{product.title}}</div>
          <div class="product-description">{{product.description}}</div>
          <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
        </div>

        <div class="product-grid-item-bottom">
          <span class="product-price">${{product.price}}</span>
          <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
        </div>

      </div>
    </ng-template>
  </p-dataView>
</ion-content>