ion-card {
    margin: 0;
    padding: 0;
}

ion-card-content {
    padding: 0;

    ion-item.price-list-content {
        padding: 0;

        &::part(native) {
            padding: 0;
        }
    }

    section {
        width: 100%;
        display: flex;
        justify-content: right;
        margin-left: 10px;
    }

    .amount {}

    .currency-code {
        font-size: 10px;
    }

    .item-native {
        padding: 0;
        background: green;
    }

    ion-row.action-buttons {
        ion-col.search {
            display: flex;
        }
    }
}

ion-searchbar {
    padding-top: 0;
    padding-bottom: 0;
}

::ng-deep .p-dataview .p-dataview-header {
    padding: 0;
}

::ng-deep ion-modal.dialog-modal {
    --width: 50%;
    --min-width: 320px;
    --height: 50%;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }