<ion-header [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Manage Cart's Addresses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card-header>
        <ion-card-subtitle>Manage your addresses</ion-card-subtitle>
      </ion-card-header>
    </ion-toolbar>
  </ion-header>

  <ion-row>
    <ion-col size="12">
      <ion-toolbar>
        <ion-title>Cart Billing Address:</ion-title>
      </ion-toolbar>
    </ion-col>
    <ion-col size="12" *ngIf="viewState$ | async as vs">
      <ion-card *ngIf="vs?.cart.billing_address !== null">
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-button (click)="viewBilingAddress(vs.cart?.billing_address)" expand="block" fill="outline"
                shape="round">
                View/Edit Billing Address
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-card-header>
          <ion-card-subtitle>
            {{ vs.cart.billing_address?.first_name }}
          </ion-card-subtitle>
          <ion-card-title>
            {{ vs.cart.billing_address?.last_name }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ vs.cart.billing_address?.address_1 }}
          {{ vs.cart.billing_address?.address_2 }}
          {{ vs.cart.billing_address?.country_code }}
          {{ vs.cart.billing_address?.postal_code }}
          {{ vs.cart.billing_address?.phone }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-toolbar>
        <ion-title>Cart Shipping Address</ion-title>
      </ion-toolbar>
    </ion-col>
    <ion-col size="12" *ngIf="viewState$ | async as vs">
      <ion-card *ngIf="vs?.shipping_address !== null">
        <ion-card-header>
          <ion-card-subtitle>
            {{ vs.cart.shipping_address?.first_name }}
          </ion-card-subtitle>
          <ion-card-title>
            {{ vs.cart.shipping_address?.last_name }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ vs.cart.shipping_address?.address_1 }}
          {{ vs.cart.shipping_address?.address_2 }}
          {{ vs.cart.shipping_address?.country_code }}
          {{ vs.cart.shipping_address?.postal_code }}
          {{ vs.cart.shipping_address?.phone }}
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-header>
      <ion-toolbar>
        <ion-card-header>
          <ion-card-subtitle>Manage your addresses</ion-card-subtitle>
          <ion-button (click)="newAddress()">
            Add new Shipping Address
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-card-header>
      </ion-toolbar>
    </ion-header>
    <ion-col *ngIf="viewState$ | async as vs">
      <ion-card *ngFor="let address of vs.session?.shipping_addresses,let i=index">
        <ion-item>
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon color='danger' name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="openShippingAddressModal(address)">
              <ion-icon color="warning" name="create-outline"></ion-icon>
              <ion-text color="warning">
                Edit
              </ion-text>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>{{ address.first_name }}</ion-card-subtitle>
              <ion-card-title>{{ address.last_name }}</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              <p>Address_1: {{ address?.address_1 }}</p>
              <p>Address_2: {{ address?.address_2 }}</p>
              <p>City: {{ address?.city }}</p>
            </ion-col>
            <ion-col size="6">
              <p>Province: {{ address?.province }}</p>
              <p>Postal Code: {{ address?.postal_code }}</p>
              <p>Country: {{ address?.country_code }}</p>
              <p>Phone: {{ address?.phone }}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-item>
          <ion-buttons>
            <ion-button (click)="updateBillingAddress(address)">
              Billiing address
            </ion-button>
          </ion-buttons>
          <ion-buttons>
            <ion-button (click)="updateShippingAddress(address)">
              Shipping address
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="shipping()" expand="block" fill="solid" shape="round">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>