<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="homePage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="signupForm" (ngSubmit)="submit()">

    <app-profile-form formControlName="profile"></app-profile-form>

    <app-password-form formControlName="password"></app-password-form>

    <app-login-form formControlName="login"></app-login-form>

    <app-address-form #form formControlName="address"></app-address-form>

    <ion-button type="submit">Sign Up</ion-button>
    <ion-button type="button" (click)="resetForm()">Reset</ion-button>

  </form>

  <ion-list>
    <ion-item>
      <ion-label>Form is {{signupForm.valid ? 'Valid' : 'Invalid'}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      {{signupForm.value | json}}
    </ion-item>
  </ion-list>

</ion-content>