<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="navigateBack()">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                logout
            </ion-button>
        </ion-buttons>
        <ion-title>
            Start Checkout
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-card-header>
                <ion-card-title>Start</ion-card-title>
                <ion-card-subtitle>
                    {{ isLogged | json }}
                </ion-card-subtitle>
            </ion-card-header>
        </ion-toolbar>
    </ion-header>

    <!-- <ion-button (click)="openProductsReview()" expand="block" fill="clear" shape="round">
        Open Products Review Page
    </ion-button>

    <ion-button (click)="addressesMedusa()" expand="block" fill="clear" shape="round">
        Manage Addresses
    </ion-button> -->

    <ion-button (click)="cartReviewMedusa()" expand="block" fill="clear" shape="round">
        Cart Review
    </ion-button>

    <ion-button (click)="loginMedusa()" expand="block" fill="clear" shape="round">
        Login to Medusa (returning customer)
    </ion-button>

    <ion-button (click)="registerMedusa()" expand="block" fill="clear" shape="round">
        Register (New Customer)
    </ion-button>

    <!-- <ion-button (click)="checkoutMedusa()" expand="block" fill="clear" shape="round">
        Proceed to Checkout
    </ion-button> -->

</ion-content>