<ion-header [translucent]="true" collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="newAddress()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-card-header>
        <ion-card-subtitle>Manage your addresses</ion-card-subtitle>
      </ion-card-header>
    </ion-toolbar>
  </ion-header>

  <ion-row *ngIf="viewState$ | async as vs">
    <ion-col size="12">

      <ion-button (click)="viewBilingAddress(vs.customer.billing_address)" expand="block" fill="outline" shape="round">
        View Billing Address
      </ion-button>

      <ion-card>
        <!-- <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-button>
                <p> Use this address </p>
                <p>add as billing and shippin</p>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row> -->

        <ion-toolbar>
          <ion-title>Billing Address:</ion-title>
        </ion-toolbar>

        <ion-card-header>
          <ion-card-subtitle>
            {{ vs.customer.billing_address?.first_name }}
          </ion-card-subtitle>
          <ion-card-title>
            {{ vs.customer.billing_address?.last_name }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ vs.customer.billing_address?.address_1 }}
          {{ vs.customer.billing_address?.address_2 }}
          {{ vs.customer.billing_address?.country_code }}
          {{ vs.customer.billing_address?.postal_code }}
          {{ vs.customer.billing_address?.phone }}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="viewState$ | async as vs">
      <ion-card *ngFor="let address of vs.session?.shipping_addresses,let i=index">
        <ion-item>
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon color='danger' name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="openShippingAddressModal(address)">
              <ion-icon color="warning" name="create-outline"></ion-icon>
              <ion-text color="warning">
                Edit
              </ion-text>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-card-header>
          <ion-row>
            <ion-col>
              <ion-card-subtitle>{{ address.first_name }}</ion-card-subtitle>
              <ion-card-title>{{ address.last_name }}</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              <p>Address_1: {{ address?.address_1 }}</p>
              <p>Address_2: {{ address?.address_2 }}</p>
              <p>City: {{ address?.city }}</p>
            </ion-col>
            <ion-col size="6">
              <p>Province: {{ address?.province }}</p>
              <p>Postal Code: {{ address?.postal_code }}</p>
              <p>Country: {{ address?.country_code }}</p>
              <p>Phone: {{ address?.phone }}</p>
            </ion-col>
          </ion-row>
        </ion-card-content>
        <ion-item>
          <ion-note slot="start">Delivery address</ion-note>
          <ion-icon color="success" slot="end" name="checkmark-outline"></ion-icon>

          <ion-buttons slot="end">
            <ion-button (click)="onCheckboxChange(address, $event)">
              <ion-icon slot="start" name="add"></ion-icon>
              Add as billing address
            </ion-button>
          </ion-buttons>
          <ion-button slot="end" (ionChange)="onCheckboxChange(address, $event)">
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="shipping()" expand="block" fill="solid" shape="round">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>