<form [formGroup]="form">

  <ion-label for="primary">primary</ion-label>
  <ion-input formControlName="primary" id="primary" type="text" placeholder="Email address"></ion-input>

  <div class="wrapper">

    <!-- <ion-input
      [(colorPicker)]="color"
      [style.background]="color"
      [cpOKButton]="true"
      [cpOutputFormat]="'rgba'"
      (colorPickerChange)="captureColour($event)" ></ion-input>

    <div class="palette" #palette></div> -->

  </div>


  <!-- <ion-label for="secondary">secondary</ion-label>
  <ion-input formControlName="secondary" id="secondary" type="text" placeholder="secondary"></ion-input>

  <ion-label for="tertiary">tertiary</ion-label>
  <ion-input formControlName="tertiary" id="tertiary" type="text" placeholder="tertiary"></ion-input>

  <ion-label for="info">info</ion-label>
  <ion-input formControlName="info" id="info" type="text" placeholder="info"></ion-input>

  <ion-label for="success">success</ion-label>
  <ion-input formControlName="success" id="success" type="text" placeholder="success"></ion-input>

  <ion-label for="warning">warning</ion-label>
  <ion-input formControlName="warning" id="warning" type="text" placeholder="warning"></ion-input>

  <ion-label for="danger">danger</ion-label>
  <ion-input formControlName="danger" id="danger" type="text" placeholder="danger"></ion-input>

  <ion-label for="dark">dark</ion-label>
  <ion-input formControlName="dark" id="dark" type="text" placeholder="dark"></ion-input>

  <ion-label for="medium">medium</ion-label>
  <ion-input formControlName="medium" id="medium" type="text" placeholder="medium"></ion-input>

  <ion-label for="light">light</ion-label>
  <ion-input formControlName="light" id="light" type="text" placeholder="light"></ion-input> -->

</form>