<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="products-list">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="addresses">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Addresses</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>