<ion-content>

  <div
    style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--ion-color-primary) 10%, rgba(33, 150, 243, 0) 30%);">
    <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">

      <div class="text-center mb-5">
        <img src="assets/shapes.svg" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Register to start</div>
        <span class="text-600 font-medium line-height-3">Already have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" (click)="back()">
          {{ 'Login instead' | translate }}...
        </a>
      </div>

      <form [formGroup]="userForm" ngxsForm="forms.userForm">
        <app-user-form formControlName="user"></app-user-form>
      </form>

      <ion-button (click)="register()" expand="block" fill="solid">
        Register user
      </ion-button>

    </div>
  </div>

</ion-content>