<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="logout()">
                logout
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="enterShop()" expand="block" fill="clear" shape="round">
        Enter Shop
    </ion-button>
    <ion-button (click)="enterShop()" expand="block" fill="clear" shape="round">
    login
    </ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="testPage()" expand="block" fill="clear" shape="round">
        Test Page
        </ion-button>
    </ion-toolbar>
</ion-footer>